<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- As a link -->
<nav class="navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bills Split</a>
  </div>
</nav>


<!--<nav class="navbar navbar-inverse navbar-static-top">-->
<!--  <div class="container-fluid">-->
<!--    <div class="navbar-header">-->
<!--      <a class="navbar-brand" href="#">-->
<!--        <img alt="Bills Split"/>-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->

</html>